/* float/clear */
.clear{ clear: both }
.float-l{ float: left }
.float-r{ float: right }

/* 타이포 텍스트 */
.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* 텍스트 센터 */

/*패딩 : 상하좌우 | 상하 | 상 | 우 | 좌우 | 하 | 좌 */
.p0{ padding: 0; }
.p05{ padding: 4px; }
.p1{ padding: 8px; }
.p2{ padding: 16px; }
.p3{ padding: 24px; }
.p4{ padding: 32px; }
.p5{ padding: 40px; }
.p6{ padding: 48px; }
.p7{ padding: 56px; }
.p8{ padding: 64px; }
.p9{ padding: 72px; }
.p10{ padding: 80px; }
.p05-0{ padding: 4px 0; }
.p1-0{ padding: 8px 0; }
.p2-0{ padding: 16px 0; }
.p3-0{ padding: 24px 0; }
.p4-0{ padding: 32px 0; }
.p5-0{ padding: 40px 0; }
.p6-0{ padding: 48px 0; }
.p7-0{ padding: 56px 0; }
.p8-0{ padding: 64px 0; }
.p9-0{ padding: 72px 0; }
.p10-0{ padding: 80px 0; }
.p05-0-0{ padding: 4px 0 0; }
.p1-0-0{ padding: 8px 0 0; }
.p2-0-0{ padding: 16px 0 0; }
.p3-0-0{ padding: 24px 0 0; }
.p4-0-0{ padding: 32px 0 0; }
.p5-0-0{ padding: 40px 0 0; }
.p6-0-0{ padding: 48px 0 0; }
.p7-0-0{ padding: 56px 0 0; }
.p8-0-0{ padding: 64px 0 0; }
.p9-0-0{ padding: 72px 0 0; }
.p10-0-0{ padding: 80px 0 0; }
.p0-05-0-0{ padding: 0 4px 0 0; }
.p0-1-0-0{ padding: 0 8px 0 0; }
.p0-2-0-0{ padding: 0 16px 0 0; }
.p0-3-0-0{ padding: 0 24px 0 0; }
.p0-4-0-0{ padding: 0 32px 0 0; }
.p0-5-0-0{ padding: 0 40px 0 0; }
.p0-6-0-0{ padding: 0 48px 0 0; }
.p0-7-0-0{ padding: 0 56px 0 0; }
.p0-8-0-0{ padding: 0 64px 0 0; }
.p0-9-0-0{ padding: 0 72px 0 0; }
.p0-10-0-0{ padding: 0 80px 0 0; }
.p0-05{ padding: 0 4px; }
.p0-1{ padding: 0 8px; }
.p0-2{ padding: 0 16px; }
.p0-3{ padding: 0 24px; }
.p0-4{ padding: 0 32px; }
.p0-5{ padding: 0 40px; }
.p0-6{ padding: 0 48px; }
.p0-7{ padding: 0 56px; }
.p0-8{ padding: 0 64px; }
.p0-9{ padding: 0 72px; }
.p0-10{ padding: 0 80px; }
.p0-0-05{ padding: 0 0 4px; }
.p0-0-1{ padding: 0 0 8px; }
.p0-0-2{ padding: 0 0 16px; }
.p0-0-3{ padding: 0 0 24px; }
.p0-0-4{ padding: 0 0 32px; }
.p0-0-5{ padding: 0 0 40px; }
.p0-0-6{ padding: 0 0 48px; }
.p0-0-7{ padding: 0 0 56px; }
.p0-0-8{ padding: 0 0 64px; }
.p0-0-9{ padding: 0 0 72px; }
.p0-0-10{ padding: 0 0 80px; }
.p0-0-0-05{ padding: 0 0 0 4px; }
.p0-0-0-1{ padding: 0 0 0 8px; }
.p0-0-0-2{ padding: 0 0 0 16px; }
.p0-0-0-3{ padding: 0 0 0 24px; }
.p0-0-0-4{ padding: 0 0 0 32px; }
.p0-0-0-5{ padding: 0 0 0 40px; }
.p0-0-0-6{ padding: 0 0 0 48px; }
.p0-0-0-7{ padding: 0 0 0 56px; }
.p0-0-0-8{ padding: 0 0 0 64px; }
.p0-0-0-9{ padding: 0 0 0 72px; }
.p0-0-0-10{ padding: 0 0 0 80px; }

/*가변 패딩 : 상하좌우 | 상하 | 상 | 우 | 좌우 | 하 | 좌 */
@media screen and (max-width:767px) {
    .xs-p0{ padding: 0; }
    .xs-p05{ padding: 4px; }
    .xs-p1{ padding: 8px; }
    .xs-p2{ padding: 16px; }
    .xs-p3{ padding: 24px; }
    .xs-p4{ padding: 32px; }
    .xs-p5{ padding: 40px; }
    .xs-p6{ padding: 48px; }
    .xs-p7{ padding: 56px; }
    .xs-p8{ padding: 64px; }
    .xs-p9{ padding: 72px; }
    .xs-p10{ padding: 80px; }
    .xs-p05-0{ padding: 4px 0; }
    .xs-p1-0{ padding: 8px 0; }
    .xs-p2-0{ padding: 16px 0; }
    .xs-p3-0{ padding: 24px 0; }
    .xs-p4-0{ padding: 32px 0; }
    .xs-p5-0{ padding: 40px 0; }
    .xs-p6-0{ padding: 48px 0; }
    .xs-p7-0{ padding: 56px 0; }
    .xs-p8-0{ padding: 64px 0; }
    .xs-p9-0{ padding: 72px 0; }
    .xs-p10-0{ padding: 80px 0; }
    .xs-p05-0-0{ padding: 4px 0 0; }
    .xs-p1-0-0{ padding: 8px 0 0; }
    .xs-p2-0-0{ padding: 16px 0 0; }
    .xs-p3-0-0{ padding: 24px 0 0; }
    .xs-p4-0-0{ padding: 32px 0 0; }
    .xs-p5-0-0{ padding: 40px 0 0; }
    .xs-p6-0-0{ padding: 48px 0 0; }
    .xs-p7-0-0{ padding: 56px 0 0; }
    .xs-p8-0-0{ padding: 64px 0 0; }
    .xs-p9-0-0{ padding: 72px 0 0; }
    .xs-p10-0-0{ padding: 80px 0 0; }
    .xs-p0-05-0-0{ padding: 0 4px 0 0; }
    .xs-p0-1-0-0{ padding: 0 8px 0 0; }
    .xs-p0-2-0-0{ padding: 0 16px 0 0; }
    .xs-p0-3-0-0{ padding: 0 24px 0 0; }
    .xs-p0-4-0-0{ padding: 0 32px 0 0; }
    .xs-p0-5-0-0{ padding: 0 40px 0 0; }
    .xs-p0-6-0-0{ padding: 0 48px 0 0; }
    .xs-p0-7-0-0{ padding: 0 56px 0 0; }
    .xs-p0-8-0-0{ padding: 0 64px 0 0; }
    .xs-p0-9-0-0{ padding: 0 72px 0 0; }
    .xs-p0-10-0-0{ padding: 0 80px 0 0; }
    .xs-p0-05{ padding: 0 4px; }
    .xs-p0-1{ padding: 0 8px; }
    .xs-p0-2{ padding: 0 16px; }
    .xs-p0-3{ padding: 0 24px; }
    .xs-p0-4{ padding: 0 32px; }
    .xs-p0-5{ padding: 0 40px; }
    .xs-p0-6{ padding: 0 48px; }
    .xs-p0-7{ padding: 0 56px; }
    .xs-p0-8{ padding: 0 64px; }
    .xs-p0-9{ padding: 0 72px; }
    .xs-p0-10{ padding: 0 80px; }
    .xs-p0-0-05{ padding: 0 0 4px; }
    .xs-p0-0-1{ padding: 0 0 8px; }
    .xs-p0-0-2{ padding: 0 0 16px; }
    .xs-p0-0-3{ padding: 0 0 24px; }
    .xs-p0-0-4{ padding: 0 0 32px; }
    .xs-p0-0-5{ padding: 0 0 40px; }
    .xs-p0-0-6{ padding: 0 0 48px; }
    .xs-p0-0-7{ padding: 0 0 56px; }
    .xs-p0-0-8{ padding: 0 0 64px; }
    .xs-p0-0-9{ padding: 0 0 72px; }
    .xs-p0-0-10{ padding: 0 0 80px; }
    .xs-p0-0-0-05{ padding: 0 0 0 4px; }
    .xs-p0-0-0-1{ padding: 0 0 0 8px; }
    .xs-p0-0-0-2{ padding: 0 0 0 16px; }
    .xs-p0-0-0-3{ padding: 0 0 0 24px; }
    .xs-p0-0-0-4{ padding: 0 0 0 32px; }
    .xs-p0-0-0-5{ padding: 0 0 0 40px; }
    .xs-p0-0-0-6{ padding: 0 0 0 48px; }
    .xs-p0-0-0-7{ padding: 0 0 0 56px; }
    .xs-p0-0-0-8{ padding: 0 0 0 64px; }
    .xs-p0-0-0-9{ padding: 0 0 0 72px; }
    .xs-p0-0-0-10{ padding: 0 0 0 80px; }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .sm-p0{ padding: 0; }
    .sm-p05{ padding: 4px; }
    .sm-p1{ padding: 8px; }
    .sm-p2{ padding: 16px; }
    .sm-p3{ padding: 24px; }
    .sm-p4{ padding: 32px; }
    .sm-p5{ padding: 40px; }
    .sm-p6{ padding: 48px; }
    .sm-p7{ padding: 56px; }
    .sm-p8{ padding: 64px; }
    .sm-p9{ padding: 72px; }
    .sm-p10{ padding: 80px; }
    .sm-p05-0{ padding: 4px 0; }
    .sm-p1-0{ padding: 8px 0; }
    .sm-p2-0{ padding: 16px 0; }
    .sm-p3-0{ padding: 24px 0; }
    .sm-p4-0{ padding: 32px 0; }
    .sm-p5-0{ padding: 40px 0; }
    .sm-p6-0{ padding: 48px 0; }
    .sm-p7-0{ padding: 56px 0; }
    .sm-p8-0{ padding: 64px 0; }
    .sm-p9-0{ padding: 72px 0; }
    .sm-p10-0{ padding: 80px 0; }
    .sm-p05-0-0{ padding: 4px 0 0; }
    .sm-p1-0-0{ padding: 8px 0 0; }
    .sm-p2-0-0{ padding: 16px 0 0; }
    .sm-p3-0-0{ padding: 24px 0 0; }
    .sm-p4-0-0{ padding: 32px 0 0; }
    .sm-p5-0-0{ padding: 40px 0 0; }
    .sm-p6-0-0{ padding: 48px 0 0; }
    .sm-p7-0-0{ padding: 56px 0 0; }
    .sm-p8-0-0{ padding: 64px 0 0; }
    .sm-p9-0-0{ padding: 72px 0 0; }
    .sm-p10-0-0{ padding: 80px 0 0; }
    .sm-p0-05-0-0{ padding: 0 4px 0 0; }
    .sm-p0-1-0-0{ padding: 0 8px 0 0; }
    .sm-p0-2-0-0{ padding: 0 16px 0 0; }
    .sm-p0-3-0-0{ padding: 0 24px 0 0; }
    .sm-p0-4-0-0{ padding: 0 32px 0 0; }
    .sm-p0-5-0-0{ padding: 0 40px 0 0; }
    .sm-p0-6-0-0{ padding: 0 48px 0 0; }
    .sm-p0-7-0-0{ padding: 0 56px 0 0; }
    .sm-p0-8-0-0{ padding: 0 64px 0 0; }
    .sm-p0-9-0-0{ padding: 0 72px 0 0; }
    .sm-p0-10-0-0{ padding: 0 80px 0 0; }
    .sm-p0-05{ padding: 0 4px; }
    .sm-p0-1{ padding: 0 8px; }
    .sm-p0-2{ padding: 0 16px; }
    .sm-p0-3{ padding: 0 24px; }
    .sm-p0-4{ padding: 0 32px; }
    .sm-p0-5{ padding: 0 40px; }
    .sm-p0-6{ padding: 0 48px; }
    .sm-p0-7{ padding: 0 56px; }
    .sm-p0-8{ padding: 0 64px; }
    .sm-p0-9{ padding: 0 72px; }
    .sm-p0-10{ padding: 0 80px; }
    .sm-p0-0-05{ padding: 0 0 4px; }
    .sm-p0-0-1{ padding: 0 0 8px; }
    .sm-p0-0-2{ padding: 0 0 16px; }
    .sm-p0-0-3{ padding: 0 0 24px; }
    .sm-p0-0-4{ padding: 0 0 32px; }
    .sm-p0-0-5{ padding: 0 0 40px; }
    .sm-p0-0-6{ padding: 0 0 48px; }
    .sm-p0-0-7{ padding: 0 0 56px; }
    .sm-p0-0-8{ padding: 0 0 64px; }
    .sm-p0-0-9{ padding: 0 0 72px; }
    .sm-p0-0-10{ padding: 0 0 80px; }
    .sm-p0-0-0-05{ padding: 0 0 0 4px; }
    .sm-p0-0-0-1{ padding: 0 0 0 8px; }
    .sm-p0-0-0-2{ padding: 0 0 0 16px; }
    .sm-p0-0-0-3{ padding: 0 0 0 24px; }
    .sm-p0-0-0-4{ padding: 0 0 0 32px; }
    .sm-p0-0-0-5{ padding: 0 0 0 40px; }
    .sm-p0-0-0-6{ padding: 0 0 0 48px; }
    .sm-p0-0-0-7{ padding: 0 0 0 56px; }
    .sm-p0-0-0-8{ padding: 0 0 0 64px; }
    .sm-p0-0-0-9{ padding: 0 0 0 72px; }
    .sm-p0-0-0-10{ padding: 0 0 0 80px; }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .md-p0{ padding: 0; }
    .md-p05{ padding: 4px; }
    .md-p1{ padding: 8px; }
    .md-p2{ padding: 16px; }
    .md-p3{ padding: 24px; }
    .md-p4{ padding: 32px; }
    .md-p5{ padding: 40px; }
    .md-p6{ padding: 48px; }
    .md-p7{ padding: 56px; }
    .md-p8{ padding: 64px; }
    .md-p9{ padding: 72px; }
    .md-p10{ padding: 80px; }
    .md-p05-0{ padding: 4px 0; }
    .md-p1-0{ padding: 8px 0; }
    .md-p2-0{ padding: 16px 0; }
    .md-p3-0{ padding: 24px 0; }
    .md-p4-0{ padding: 32px 0; }
    .md-p5-0{ padding: 40px 0; }
    .md-p6-0{ padding: 48px 0; }
    .md-p7-0{ padding: 56px 0; }
    .md-p8-0{ padding: 64px 0; }
    .md-p9-0{ padding: 72px 0; }
    .md-p10-0{ padding: 80px 0; }
    .md-p05-0-0{ padding: 4px 0 0; }
    .md-p1-0-0{ padding: 8px 0 0; }
    .md-p2-0-0{ padding: 16px 0 0; }
    .md-p3-0-0{ padding: 24px 0 0; }
    .md-p4-0-0{ padding: 32px 0 0; }
    .md-p5-0-0{ padding: 40px 0 0; }
    .md-p6-0-0{ padding: 48px 0 0; }
    .md-p7-0-0{ padding: 56px 0 0; }
    .md-p8-0-0{ padding: 64px 0 0; }
    .md-p9-0-0{ padding: 72px 0 0; }
    .md-p10-0-0{ padding: 80px 0 0; }
    .md-p0-05-0-0{ padding: 0 4px 0 0; }
    .md-p0-1-0-0{ padding: 0 8px 0 0; }
    .md-p0-2-0-0{ padding: 0 16px 0 0; }
    .md-p0-3-0-0{ padding: 0 24px 0 0; }
    .md-p0-4-0-0{ padding: 0 32px 0 0; }
    .md-p0-5-0-0{ padding: 0 40px 0 0; }
    .md-p0-6-0-0{ padding: 0 48px 0 0; }
    .md-p0-7-0-0{ padding: 0 56px 0 0; }
    .md-p0-8-0-0{ padding: 0 64px 0 0; }
    .md-p0-9-0-0{ padding: 0 72px 0 0; }
    .md-p0-10-0-0{ padding: 0 80px 0 0; }
    .md-p0-05{ padding: 0 4px; }
    .md-p0-1{ padding: 0 8px; }
    .md-p0-2{ padding: 0 16px; }
    .md-p0-3{ padding: 0 24px; }
    .md-p0-4{ padding: 0 32px; }
    .md-p0-5{ padding: 0 40px; }
    .md-p0-6{ padding: 0 48px; }
    .md-p0-7{ padding: 0 56px; }
    .md-p0-8{ padding: 0 64px; }
    .md-p0-9{ padding: 0 72px; }
    .md-p0-10{ padding: 0 80px; }
    .md-p0-0-05{ padding: 0 0 4px; }
    .md-p0-0-1{ padding: 0 0 8px; }
    .md-p0-0-2{ padding: 0 0 16px; }
    .md-p0-0-3{ padding: 0 0 24px; }
    .md-p0-0-4{ padding: 0 0 32px; }
    .md-p0-0-5{ padding: 0 0 40px; }
    .md-p0-0-6{ padding: 0 0 48px; }
    .md-p0-0-7{ padding: 0 0 56px; }
    .md-p0-0-8{ padding: 0 0 64px; }
    .md-p0-0-9{ padding: 0 0 72px; }
    .md-p0-0-10{ padding: 0 0 80px; }
    .md-p0-0-0-05{ padding: 0 0 0 4px; }
    .md-p0-0-0-1{ padding: 0 0 0 8px; }
    .md-p0-0-0-2{ padding: 0 0 0 16px; }
    .md-p0-0-0-3{ padding: 0 0 0 24px; }
    .md-p0-0-0-4{ padding: 0 0 0 32px; }
    .md-p0-0-0-5{ padding: 0 0 0 40px; }
    .md-p0-0-0-6{ padding: 0 0 0 48px; }
    .md-p0-0-0-7{ padding: 0 0 0 56px; }
    .md-p0-0-0-8{ padding: 0 0 0 64px; }
    .md-p0-0-0-9{ padding: 0 0 0 72px; }
    .md-p0-0-0-10{ padding: 0 0 0 80px; }
}

/*마진 : 상하좌우 | 상하 | 상 | 우 | 좌우 | 하 | 좌  */
.m0{ margin: 0; }
.m05{ margin: 4px; }
.m1{ margin: 8px; }
.m2{ margin: 16px; }
.m3{ margin: 24px; }
.m4{ margin: 32px; }
.m5{ margin: 40px; }
.m6{ margin: 48px; }
.m7{ margin: 56px; }
.m8{ margin: 64px; }
.m9{ margin: 72px; }
.m10{ margin: 80px; }
.m05-0{ margin: 4px 0; }
.m1-0{ margin: 8px 0; }
.m2-0{ margin: 16px 0; }
.m3-0{ margin: 24px 0; }
.m4-0{ margin: 32px 0; }
.m5-0{ margin: 40px 0; }
.m6-0{ margin: 48px 0; }
.m7-0{ margin: 56px 0; }
.m8-0{ margin: 64px 0; }
.m9-0{ margin: 72px 0; }
.m10-0{ margin: 80px 0; }
.m05-0-0{ margin: 4px 0 0; }
.m1-0-0{ margin: 8px 0 0; }
.m2-0-0{ margin: 16px 0 0; }
.m3-0-0{ margin: 24px 0 0; }
.m4-0-0{ margin: 32px 0 0; }
.m5-0-0{ margin: 40px 0 0; }
.m6-0-0{ margin: 48px 0 0; }
.m7-0-0{ margin: 56px 0 0; }
.m8-0-0{ margin: 64px 0 0; }
.m9-0-0{ margin: 72px 0 0; }
.m10-0-0{ margin: 80px 0 0; }
.m0-05-0-0{ margin: 0 4px 0 0; }
.m0-1-0-0{ margin: 0 8px 0 0; }
.m0-2-0-0{ margin: 0 16px 0 0; }
.m0-3-0-0{ margin: 0 24px 0 0; }
.m0-4-0-0{ margin: 0 32px 0 0; }
.m0-5-0-0{ margin: 0 40px 0 0; }
.m0-6-0-0{ margin: 0 48px 0 0; }
.m0-7-0-0{ margin: 0 56px 0 0; }
.m0-8-0-0{ margin: 0 64px 0 0; }
.m0-9-0-0{ margin: 0 72px 0 0; }
.m0-10-0-0{ margin: 0 80px 0 0; }
.m0-05{ margin: 0 4px; }
.m0-1{ margin: 0 8px; }
.m0-2{ margin: 0 16px; }
.m0-3{ margin: 0 24px; }
.m0-4{ margin: 0 32px; }
.m0-5{ margin: 0 40px; }
.m0-6{ margin: 0 48px; }
.m0-7{ margin: 0 56px; }
.m0-8{ margin: 0 64px; }
.m0-9{ margin: 0 72px; }
.m0-10{ margin: 0 80px; }
.m0-0-05{ margin: 0 0 4px; }
.m0-0-1{ margin: 0 0 8px; }
.m0-0-2{ margin: 0 0 16px; }
.m0-0-3{ margin: 0 0 24px; }
.m0-0-4{ margin: 0 0 32px; }
.m0-0-5{ margin: 0 0 40px; }
.m0-0-6{ margin: 0 0 48px; }
.m0-0-7{ margin: 0 0 56px; }
.m0-0-8{ margin: 0 0 64px; }
.m0-0-9{ margin: 0 0 72px; }
.m0-0-10{ margin: 0 0 80px; }
.m0-0-0-05{ margin: 0 0 0 4px; }
.m0-0-0-1{ margin: 0 0 0 8px; }
.m0-0-0-2{ margin: 0 0 0 16px; }
.m0-0-0-3{ margin: 0 0 0 24px; }
.m0-0-0-4{ margin: 0 0 0 32px; }
.m0-0-0-5{ margin: 0 0 0 40px; }
.m0-0-0-6{ margin: 0 0 0 48px; }
.m0-0-0-7{ margin: 0 0 0 56px; }
.m0-0-0-8{ margin: 0 0 0 64px; }
.m0-0-0-9{ margin: 0 0 0 72px; }
.m0-0-0-10{ margin: 0 0 0 80px; }

/* 모바일 마진 : 상하좌우 | 상하 | 상 | 우 | 좌우 | 하 | 좌  */
@media screen and (max-width:767px){
    .xs-m0{ margin: 0; }
    .xs-m05{ margin: 4px; }
    .xs-m1{ margin: 8px; }
    .xs-m2{ margin: 16px; }
    .xs-m3{ margin: 24px; }
    .xs-m4{ margin: 32px; }
    .xs-m5{ margin: 40px; }
    .xs-m6{ margin: 48px; }
    .xs-m7{ margin: 56px; }
    .xs-m8{ margin: 64px; }
    .xs-m9{ margin: 72px; }
    .xs-m10{ margin: 80px; }
    .xs-m05-0{ margin: 4px 0; }
    .xs-m1-0{ margin: 8px 0; }
    .xs-m2-0{ margin: 16px 0; }
    .xs-m3-0{ margin: 24px 0; }
    .xs-m4-0{ margin: 32px 0; }
    .xs-m5-0{ margin: 40px 0; }
    .xs-m6-0{ margin: 48px 0; }
    .xs-m7-0{ margin: 56px 0; }
    .xs-m8-0{ margin: 64px 0; }
    .xs-m9-0{ margin: 72px 0; }
    .xs-m10-0{ margin: 80px 0; }
    .xs-m05-0-0{ margin: 4px 0 0; }
    .xs-m1-0-0{ margin: 8px 0 0; }
    .xs-m2-0-0{ margin: 16px 0 0; }
    .xs-m3-0-0{ margin: 24px 0 0; }
    .xs-m4-0-0{ margin: 32px 0 0; }
    .xs-m5-0-0{ margin: 40px 0 0; }
    .xs-m6-0-0{ margin: 48px 0 0; }
    .xs-m7-0-0{ margin: 56px 0 0; }
    .xs-m8-0-0{ margin: 64px 0 0; }
    .xs-m9-0-0{ margin: 72px 0 0; }
    .xs-m10-0-0{ margin: 80px 0 0; }
    .xs-m0-05-0-0{ margin: 0 4px 0 0; }
    .xs-m0-1-0-0{ margin: 0 8px 0 0; }
    .xs-m0-2-0-0{ margin: 0 16px 0 0; }
    .xs-m0-3-0-0{ margin: 0 24px 0 0; }
    .xs-m0-4-0-0{ margin: 0 32px 0 0; }
    .xs-m0-5-0-0{ margin: 0 40px 0 0; }
    .xs-m0-6-0-0{ margin: 0 48px 0 0; }
    .xs-m0-7-0-0{ margin: 0 56px 0 0; }
    .xs-m0-8-0-0{ margin: 0 64px 0 0; }
    .xs-m0-9-0-0{ margin: 0 72px 0 0; }
    .xs-m0-10-0-0{ margin: 0 80px 0 0; }
    .xs-m0-05{ margin: 0 4px; }
    .xs-m0-1{ margin: 0 8px; }
    .xs-m0-2{ margin: 0 16px; }
    .xs-m0-3{ margin: 0 24px; }
    .xs-m0-4{ margin: 0 32px; }
    .xs-m0-5{ margin: 0 40px; }
    .xs-m0-6{ margin: 0 48px; }
    .xs-m0-7{ margin: 0 56px; }
    .xs-m0-8{ margin: 0 64px; }
    .xs-m0-9{ margin: 0 72px; }
    .xs-m0-10{ margin: 0 80px; }
    .xs-m0-0-05{ margin: 0 0 4px; }
    .xs-m0-0-1{ margin: 0 0 8px; }
    .xs-m0-0-2{ margin: 0 0 16px; }
    .xs-m0-0-3{ margin: 0 0 24px; }
    .xs-m0-0-4{ margin: 0 0 32px; }
    .xs-m0-0-5{ margin: 0 0 40px; }
    .xs-m0-0-6{ margin: 0 0 48px; }
    .xs-m0-0-7{ margin: 0 0 56px; }
    .xs-m0-0-8{ margin: 0 0 64px; }
    .xs-m0-0-9{ margin: 0 0 72px; }
    .xs-m0-0-10{ margin: 0 0 80px; }
    .xs-m0-0-0-05{ margin: 0 0 0 4px; }
    .xs-m0-0-0-1{ margin: 0 0 0 8px; }
    .xs-m0-0-0-2{ margin: 0 0 0 16px; }
    .xs-m0-0-0-3{ margin: 0 0 0 24px; }
    .xs-m0-0-0-4{ margin: 0 0 0 32px; }
    .xs-m0-0-0-5{ margin: 0 0 0 40px; }
    .xs-m0-0-0-6{ margin: 0 0 0 48px; }
    .xs-m0-0-0-7{ margin: 0 0 0 56px; }
    .xs-m0-0-0-8{ margin: 0 0 0 64px; }
    .xs-m0-0-0-9{ margin: 0 0 0 72px; }
    .xs-m0-0-0-10{ margin: 0 0 0 80px; }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .sm-m0{ margin: 0; }
    .sm-m05{ margin: 4px; }
    .sm-m1{ margin: 8px; }
    .sm-m2{ margin: 16px; }
    .sm-m3{ margin: 24px; }
    .sm-m4{ margin: 32px; }
    .sm-m5{ margin: 40px; }
    .sm-m6{ margin: 48px; }
    .sm-m7{ margin: 56px; }
    .sm-m8{ margin: 64px; }
    .sm-m9{ margin: 72px; }
    .sm-m10{ margin: 80px; }
    .sm-m05-0{ margin: 4px 0; }
    .sm-m1-0{ margin: 8px 0; }
    .sm-m2-0{ margin: 16px 0; }
    .sm-m3-0{ margin: 24px 0; }
    .sm-m4-0{ margin: 32px 0; }
    .sm-m5-0{ margin: 40px 0; }
    .sm-m6-0{ margin: 48px 0; }
    .sm-m7-0{ margin: 56px 0; }
    .sm-m8-0{ margin: 64px 0; }
    .sm-m9-0{ margin: 72px 0; }
    .sm-m10-0{ margin: 80px 0; }
    .sm-m05-0-0{ margin: 4px 0 0; }
    .sm-m1-0-0{ margin: 8px 0 0; }
    .sm-m2-0-0{ margin: 16px 0 0; }
    .sm-m3-0-0{ margin: 24px 0 0; }
    .sm-m4-0-0{ margin: 32px 0 0; }
    .sm-m5-0-0{ margin: 40px 0 0; }
    .sm-m6-0-0{ margin: 48px 0 0; }
    .sm-m7-0-0{ margin: 56px 0 0; }
    .sm-m8-0-0{ margin: 64px 0 0; }
    .sm-m9-0-0{ margin: 72px 0 0; }
    .sm-m10-0-0{ margin: 80px 0 0; }
    .sm-m0-05-0-0{ margin: 0 4px 0 0; }
    .sm-m0-1-0-0{ margin: 0 8px 0 0; }
    .sm-m0-2-0-0{ margin: 0 16px 0 0; }
    .sm-m0-3-0-0{ margin: 0 24px 0 0; }
    .sm-m0-4-0-0{ margin: 0 32px 0 0; }
    .sm-m0-5-0-0{ margin: 0 40px 0 0; }
    .sm-m0-6-0-0{ margin: 0 48px 0 0; }
    .sm-m0-7-0-0{ margin: 0 56px 0 0; }
    .sm-m0-8-0-0{ margin: 0 64px 0 0; }
    .sm-m0-9-0-0{ margin: 0 72px 0 0; }
    .sm-m0-10-0-0{ margin: 0 80px 0 0; }
    .sm-m0-05{ margin: 0 4px; }
    .sm-m0-1{ margin: 0 8px; }
    .sm-m0-2{ margin: 0 16px; }
    .sm-m0-3{ margin: 0 24px; }
    .sm-m0-4{ margin: 0 32px; }
    .sm-m0-5{ margin: 0 40px; }
    .sm-m0-6{ margin: 0 48px; }
    .sm-m0-7{ margin: 0 56px; }
    .sm-m0-8{ margin: 0 64px; }
    .sm-m0-9{ margin: 0 72px; }
    .sm-m0-10{ margin: 0 80px; }
    .sm-m0-0-05{ margin: 0 0 4px; }
    .sm-m0-0-1{ margin: 0 0 8px; }
    .sm-m0-0-2{ margin: 0 0 16px; }
    .sm-m0-0-3{ margin: 0 0 24px; }
    .sm-m0-0-4{ margin: 0 0 32px; }
    .sm-m0-0-5{ margin: 0 0 40px; }
    .sm-m0-0-6{ margin: 0 0 48px; }
    .sm-m0-0-7{ margin: 0 0 56px; }
    .sm-m0-0-8{ margin: 0 0 64px; }
    .sm-m0-0-9{ margin: 0 0 72px; }
    .sm-m0-0-10{ margin: 0 0 80px; }
    .sm-m0-0-0-05{ margin: 0 0 0 4px; }
    .sm-m0-0-0-1{ margin: 0 0 0 8px; }
    .sm-m0-0-0-2{ margin: 0 0 0 16px; }
    .sm-m0-0-0-3{ margin: 0 0 0 24px; }
    .sm-m0-0-0-4{ margin: 0 0 0 32px; }
    .sm-m0-0-0-5{ margin: 0 0 0 40px; }
    .sm-m0-0-0-6{ margin: 0 0 0 48px; }
    .sm-m0-0-0-7{ margin: 0 0 0 56px; }
    .sm-m0-0-0-8{ margin: 0 0 0 64px; }
    .sm-m0-0-0-9{ margin: 0 0 0 72px; }
    .sm-m0-0-0-10{ margin: 0 0 0 80px; }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .md-m0{ margin: 0; }
    .md-m05{ margin: 4px; }
    .md-m1{ margin: 8px; }
    .md-m2{ margin: 16px; }
    .md-m3{ margin: 24px; }
    .md-m4{ margin: 32px; }
    .md-m5{ margin: 40px; }
    .md-m6{ margin: 48px; }
    .md-m7{ margin: 56px; }
    .md-m8{ margin: 64px; }
    .md-m9{ margin: 72px; }
    .md-m10{ margin: 80px; }
    .md-m05-0{ margin: 4px 0; }
    .md-m1-0{ margin: 8px 0; }
    .md-m2-0{ margin: 16px 0; }
    .md-m3-0{ margin: 24px 0; }
    .md-m4-0{ margin: 32px 0; }
    .md-m5-0{ margin: 40px 0; }
    .md-m6-0{ margin: 48px 0; }
    .md-m7-0{ margin: 56px 0; }
    .md-m8-0{ margin: 64px 0; }
    .md-m9-0{ margin: 72px 0; }
    .md-m10-0{ margin: 80px 0; }
    .md-m05-0-0{ margin: 4px 0 0; }
    .md-m1-0-0{ margin: 8px 0 0; }
    .md-m2-0-0{ margin: 16px 0 0; }
    .md-m3-0-0{ margin: 24px 0 0; }
    .md-m4-0-0{ margin: 32px 0 0; }
    .md-m5-0-0{ margin: 40px 0 0; }
    .md-m6-0-0{ margin: 48px 0 0; }
    .md-m7-0-0{ margin: 56px 0 0; }
    .md-m8-0-0{ margin: 64px 0 0; }
    .md-m9-0-0{ margin: 72px 0 0; }
    .md-m10-0-0{ margin: 80px 0 0; }
    .md-m0-05-0-0{ margin: 0 4px 0 0; }
    .md-m0-1-0-0{ margin: 0 8px 0 0; }
    .md-m0-2-0-0{ margin: 0 16px 0 0; }
    .md-m0-3-0-0{ margin: 0 24px 0 0; }
    .md-m0-4-0-0{ margin: 0 32px 0 0; }
    .md-m0-5-0-0{ margin: 0 40px 0 0; }
    .md-m0-6-0-0{ margin: 0 48px 0 0; }
    .md-m0-7-0-0{ margin: 0 56px 0 0; }
    .md-m0-8-0-0{ margin: 0 64px 0 0; }
    .md-m0-9-0-0{ margin: 0 72px 0 0; }
    .md-m0-10-0-0{ margin: 0 80px 0 0; }
    .md-m0-05{ margin: 0 4px; }
    .md-m0-1{ margin: 0 8px; }
    .md-m0-2{ margin: 0 16px; }
    .md-m0-3{ margin: 0 24px; }
    .md-m0-4{ margin: 0 32px; }
    .md-m0-5{ margin: 0 40px; }
    .md-m0-6{ margin: 0 48px; }
    .md-m0-7{ margin: 0 56px; }
    .md-m0-8{ margin: 0 64px; }
    .md-m0-9{ margin: 0 72px; }
    .md-m0-10{ margin: 0 80px; }
    .md-m0-0-05{ margin: 0 0 4px; }
    .md-m0-0-1{ margin: 0 0 8px; }
    .md-m0-0-2{ margin: 0 0 16px; }
    .md-m0-0-3{ margin: 0 0 24px; }
    .md-m0-0-4{ margin: 0 0 32px; }
    .md-m0-0-5{ margin: 0 0 40px; }
    .md-m0-0-6{ margin: 0 0 48px; }
    .md-m0-0-7{ margin: 0 0 56px; }
    .md-m0-0-8{ margin: 0 0 64px; }
    .md-m0-0-9{ margin: 0 0 72px; }
    .md-m0-0-10{ margin: 0 0 80px; }
    .md-m0-0-0-05{ margin: 0 0 0 4px; }
    .md-m0-0-0-1{ margin: 0 0 0 8px; }
    .md-m0-0-0-2{ margin: 0 0 0 16px; }
    .md-m0-0-0-3{ margin: 0 0 0 24px; }
    .md-m0-0-0-4{ margin: 0 0 0 32px; }
    .md-m0-0-0-5{ margin: 0 0 0 40px; }
    .md-m0-0-0-6{ margin: 0 0 0 48px; }
    .md-m0-0-0-7{ margin: 0 0 0 56px; }
    .md-m0-0-0-8{ margin: 0 0 0 64px; }
    .md-m0-0-0-9{ margin: 0 0 0 72px; }
    .md-m0-0-0-10{ margin: 0 0 0 80px; }
}


/* 보더 */
hr { border-color: #ffa6a6; border-width: 1px; margin: 16px 0 }
.border0{ border: 0 !important; }
/* R값 */
.radius0{ border-radius: 0 }
.radius1{ border-radius: 8px }
.radius2{ border-radius: 16px }
.radius3{ border-radius: 24px }
.radius4{ border-radius: 32px }
.radius5{ border-radius: 40px }
.radius6{ border-radius: 48px }
.radius7{ border-radius: 56px }
.radius8{ border-radius: 64px }
.radius9{ border-radius: 72px }
.radius10{ border-radius: 80px }
.radius-none{ border-radius: 0 }
@media screen and (max-width: 767px) { .xs-radius-none{ border-radius: 0} }
@media screen and (min-width: 768px) and (max-width: 991px) { .sm-radius-none{ border-radius: 0} }
@media screen and (min-width: 992px) and (max-width: 1199px) { .md-radius-none{ border-radius: 0} }
@media screen and (min-width: 1200px) { .lg-radius-none{ border-radius: 0} }


/* 기본 텍스트 컬러 */
.dq-color{ color: #ff4081; }
.dq-color-hover{ color: #ffa6a6; }
/* 기본 배경 컬러 */
.dq-bg{ background-color: #ff4081; }
.dq-bg-hover{ background-color: #ffa6a6; }
.white-bg{ background-color: #ffffff }
/* 기본 텍스트 정렬 */
.text-left{ text-align: left } .text-center{ text-align: center } .text-right{ text-align: right }
@media screen and (max-width: 767px) { .xs-text-left{ text-align: left } .xs-text-center{ text-align: center } .xs-text-right{ text-align: right } }
@media screen and (min-width: 768px) and (max-width: 991px) { .sm-text-left{ text-align: left } .sm-text-center{ text-align: center } .sm-text-right{ text-align: right } }
@media screen and (min-width: 992px) and (max-width: 1199px) { .md-text-left{ text-align: left } .md-text-center{ text-align: center } .md-text-right{ text-align: right } }
@media screen and (min-width: 1200px) { .lg-text-left{ text-align: left } .lg-text-center{ text-align: center } .lg-text-right{ text-align: right } }
/* 배경 제거 */
.bg-none{ background: none; }
@media screen and (max-width: 767px) { .xs-bg-none{ background: none; } }
@media screen and (min-width: 768px) and (max-width: 991px) { .sm-bg-none{ background: none; } }
@media screen and (min-width: 992px) and (max-width: 1199px) { .-md-bg-none{ background: none; } }
@media screen and (min-width: 1200px) { .lg-bg-none{ background: none; } }
/* 박스 쉐도우 */
.boxshadow{ box-shadow: 16px 8px 32px rgba(0,0,0,0.2) }
.boxshadow-none{ box-shadow: none }
@media screen and (max-width: 767px) { .xs-boxshadow{ box-shadow: 16px 8px 32px rgba(0,0,0,0.2) } .xs-boxshadow-none{ box-shadow: none } }
@media screen and (min-width: 768px) and (max-width: 991px) { .sm-boxshadow{ box-shadow: 16px 8px 32px rgba(0,0,0,0.2) } .sm-boxshadow-none{ box-shadow: none } }
@media screen and (min-width: 992px) and (max-width: 1199px) {  .md-boxshadow{ box-shadow: 16px 8px 32px rgba(0,0,0,0.2) } .md-boxshadow-none{ box-shadow: none } }
@media screen and (min-width: 1200px) { .lg-boxshadow{ box-shadow: 16px 8px 32px rgba(0,0,0,0.2) } .lg-boxshadow-none{ box-shadow: none } }

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}

/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
    margin-top: -5px;
}

/* Variations */
.bs-callout-danger {
    border-left-color: #ce4844;
}
.bs-callout-danger h4 {
    color: #ce4844;
}
.bs-callout-warning {
    border-left-color: #aa6708;
}
.bs-callout-warning h4 {
    color: #aa6708;
}
.bs-callout-info {
    border-left-color: #1b809e;
}
.bs-callout-info h4 {
    color: #1b809e;
}

